/* Estilos básicos para el header */
header {
    background-color: #333;
    color: #fff;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.logo {
/* Estilos para el logo o nombre de la biblioteca */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}